<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{tag.add.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{tag.add.headline}]]</h1>
                <div>
                    <a th:href="@{/tags}" class="btn btn-secondary">[[#{tag.add.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('tag')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='tag', field='name', required=true)}" />
                <input type="submit" th:value="#{tag.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
